<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Viewport メタタグ -->
    <title>メーカー一覧</title>
	<link rel="stylesheet" href="/css/logout-container.css">
</head>
<body>
    <h1>メーカー一覧</h1>
	<a href="/top" class="button-back">トップに戻る</a>
		<table border="1">
			<thead>
				<tr>
					<th>ID</th>
			        <th>名前</th>
			   </tr>
			</thead>
			<tbody>
				 <!-- 管理者ユーザーの情報を表示 -->
				 <tr th:each="manufacturer : ${manufacturers}">
					 <td th:text="${manufacturer.id}"></td>
					 <td th:text="${manufacturer.name}"></td>
					 <td>
						<a th:href="@{/manufacturers/{id}(id=${manufacturer.id})}">詳細</a>
					</td>
					<td>
						<a th:href="@{/manufacturers/{id}/edit(id=${manufacturer.id})}" class="button-edit">編集</a>
					</td>
				 </tr>
			 </tbody>
        </table>
		<a href="/manufacturers/create" class="button-create">メーカー作成</a>
	<div class="logout-container">
		<form th:action="@{/logout}" method="post">
			<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
			<input type="submit" value="ログアウト">
		</form>
	</div>
</body>
</html>
