<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Viewport メタタグ -->
    <title>管理者一覧</title>
	<link rel="stylesheet" href="/css/logout-container.css">
</head>
<body>
    <h1>管理者一覧</h1>
	<a href="/top" class="button-back">トップに戻る</a>
	<a href="/new" class="button-new">新規登録</a>
		<table border="1">
			<thead>
				<tr>
					<th>姓</th>
			        <th>名</th>
			        <th>メールアドレス</th>
			   </tr>
			</thead>
			<tbody>
				 <!-- 管理者ユーザーの情報を表示 -->
				 <tr th:each="user : ${admin}">
					 <td th:text="${user.lastName}"></td>
					 <td th:text="${user.firstName}"></td>
					 <td th:text="${user.email}"></td>
					 <td>
						<a th:href="@{/admin/detail/{id}(id=${user.id})}">詳細</a>
					</td>
					<td>
					    <a th:href="@{/profile-id/{id}/edit(id=${user.id})}" class="button-new">編集</a>
					</td>
				 </tr>
			 </tbody>
        </table>
    </form>
	<div class="logout-container">
		<form th:action="@{/logout}" method="post">
			<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
			<input type="submit" value="ログアウト">
		</form>
	</div>
</body>
</html>
