<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>メーカー編集</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>メーカー編集</h1>

    <!-- メーカー名の編集フォーム -->
    <form th:action="@{/manufacturers/{id}/edit(id=${manufacturer.id})}" method="post">
        <label for="name">メーカー名:</label>
        <input type="text" id="name" name="name" th:value="${manufacturer.name}" required="required" placeholder="メーカー名を入力">

        <button type="submit">更新</button>
    </form>

    <a href="/manufacturers" class="button-back">メーカー一覧に戻る</a>
</body>
</html>
