<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Viewport メタタグ -->
    <title>店舗編集</title>
	<link rel="stylesheet" href="/css/logout-container.css">
</head>
<body>
    <h1>店舗編集</h1>
	<a href="/top" class="button-back">トップに戻る</a>
    <form th:action="@{/store-id/{id}/edit(id=${existingStore.id})}" th:object="${existingStore}" method="post">
		<table border="1">
			<tr>
				<td>店舗名</td>
				<td><input type="text"  th:field="*{fname}" required /></td>
			</tr>
			<tr>
				<td>住所</td>
				<td><input type="text"  th:field="*{address}" required /></td>
			</tr>
        </table>
		<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
		<button type="submit">保存</button>
    </form>
	<div class="logout-container">
		<form th:action="@{/logout}" method="post">
			<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
			<input type="submit" value="ログアウト">
		</form>
	</div>
</body>
</html>
