<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Viewport メタタグ -->
    <title>管理者プロフィール</title>
	<link rel="stylesheet" href="/css/logout-container.css">
</head>
<body>
    <h1>管理者プロフィール</h1>
	<a href="/top" class="button-back">トップに戻る</a>
    <form th:action="@{/profile}"  method="post">
		<table border="1">
			<tr>
			    <td>姓</td>
			    <td><input type="text" name="lastName" required /></td>
			</tr>
			<tr>
			    <td>名</td>
			    <td><input type="text" name="firstName" required /></td>
			</tr>
			<tr>
				<td>メールアドレス</td>
                <td>
					<input type="email" name="email" required />
                </td>
            </tr>
        </table>
		<input type="submit" value="検索">
    </form>
	<div class="logout-container">
		<form th:action="@{/logout}" method="post">
			<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
			<input type="submit" value="ログアウト">
		</form>
	</div>
</body>
</html>
