<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Viewport メタタグ -->
    <title>管理者プロフィール詳細</title>
	<link rel="stylesheet" href="/css/logout-container.css">
</head>
<body>
    <h1>管理者プロフィール詳細</h1>
	<a href="/top" class="button-back">トップに戻る</a>
    <form th:action="@{/profile-id/{id}(id=${user.id})}"  method="post">
		<table border="1">
			<tr>
				<td>ID</td>
				<td>
					<span th:text="${user.id}">ユーザーID</span> <!-- ユーザーIDを表示 -->
				</td>
			</tr>
			<tr>
			    <td>姓</td>
			    <td><input type="text"  th:value="${user.lastName}" required /></td>
			</tr>
			<tr>
			    <td>名</td>
			    <td><input type="text"  th:value="${user.firstName}" required /></td>
			</tr>
			<tr>
				<td>メールアドレス</td>
                <td>
					<input type="email" id="username" th:value="${user.email}" required />
                </td>
            </tr>
			<tr>
				<td>役職</td>
				<td>
					<span th:text="${user.role}">役職名</span>
				</td>
			</tr>
			<tr>
				<td>権限</td>
				<td>
					<span th:text="${user.permissions}">権限名</span>
				</td>
			</tr>
			<tr>
				<td>店舗ID</td>
				<td><input type="text"  th:value="${user.storeId}" required /></td>
			</tr>
		</table>
    </form>
	<form th:action="@{/profile-id/{id}/edit(id=${user.id})}" method="get">
		<button type="submit">編集</button>
	</form>
	<div class="logout-container">
		<form th:action="@{/logout}" method="post">
			<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
			<input type="submit" value="ログアウト">
		</form>
	</div>
</body>
</html>