<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Viewport メタタグ -->
    <title>管理者プロフィール編集</title>
	<link rel="stylesheet" href="/css/logout-container.css">
</head>
<body>
    <h1>管理者プロフィール編集</h1>
	<a href="/top" class="button-back">トップに戻る</a>
	<a href="/admin" class="button-back">管理者一覧に戻る</a>
    <form th:action="@{/profile-id/{id}/edit(id=${existingUser.id})}" th:object="${existingUser}" method="post">
		<table border="1">
			<tr>
			    <td>姓</td>
			    <td><input type="text"  th:field="*{lastName}" required /></td>
			</tr>
			<tr>
			    <td>名</td>
			    <td><input type="text" th:field="*{firstName}"required /></td>
			</tr>
			<tr>
				<td>メールアドレス</td>
                <td>
					<input type="email"   th:field="*{email}" required />
                </td>
            </tr>
			<tr>
				<td>新しいパスワード（任意）</td>
				<td><input type="password" name="password" ></td>
			</tr>
			<tr>
				<td>役職</td>
				<td>
					<select  th:field="*{role}" >
						 <option value="manager">店長</option>
						 <option value="subManager">副店長</option>
						 <option value="supervisor">マネージャー</option>
						 <option value="employee">一般従業員</option>
						 <option value="partTime">パート・アルバイト</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>権限</td>
				<td>
					<select  th:field="*{permissions}" >
						<option value="admin">管理者</option>
						<option value="user">一般</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>店舗ID</td>
				<td>
					<input type="text"   th:field="*{storeId}" required />
				</td>
			</tr>
        </table>
		<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
		<button type="submit">保存</button>
    </form>
	<div class="logout-container">
		<form th:action="@{/logout}" method="post">
			<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
			<input type="submit" value="ログアウト">
		</form>
	</div>
</body>
</html>
