<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品詳細</title>
   <link rel="stylesheet" href="/css/logout-container.css">
</head>
<body>
    <h1>詳細画面</h1>
	<h1 th:text="${product.productName}">商品名</h1>
	    <p>商品ID: <span th:text="${product.productId}">ID</span></p>
		<p>商品説明:<span th:text="${product.productDescription}">商品の詳細な説明がここに入ります。</span></p>
	    <p>小カテゴリ: <span th:text="${product.smallCategoryName}">小カテゴリ名</span></p>
	    <p>中カテゴリ: <span th:text="${product.mediumCategoryName}">中カテゴリ名</span></p>
	    <p>大カテゴリ: <span th:text="${product.largeCategoryName}">大カテゴリ名</span></p>
		<p>画像: <img th:src="${product.imageUrl}" alt="商品画像" /></p>
		<p>コスト価格: <span th:text="${product.costPrice}">価格情報</span>円</p>
		<p>販売価格: <span th:text="${product.retailPrice}">価格情報</span>円</p>
		<p>メーカー: <span th:text="${product.manufacturer}">メーカー名</span></p>
		
		
		    
		
		<a th:href="@{/order/{productId}(productId=${product.productId})}" class="button-order">発注する</a>
	    <a href="/ProductCategoryView">商品一覧に戻る</a>
	<a href="/top" class="button-back">トップに戻る</a>
	<div class="logout-container">
		<form th:action="@{/logout}" method="post">
			<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
			<input type="submit" value="ログアウト">
		</form>
	</div>
</body>
</html>
